
#titleAndlogout {
    width:696px;
    display:flex;
    justify-content: space-between;
}
#logoutBtn {
    
    font-size: small;
    height: 30%;
    border: 1px solid red;
    border-radius: 8px;
    padding: 6px 12px;
    color: red;
    position: right;
}